body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #424242;
    color: white;
}

a {
    color: #00B7FF;
}

hr {
    background-color: white;
    margin-bottom: 5%;
}

.btn-primary {
    background-color: #9c27b0;
}

#searchButton {
    margin-top: 4%;
}

.card-group-item,
.card-group-item h5,
.card-group-item p {
    padding: 5%;
}

.card-group-item img {
    width: 100%;
}

@media (min-width: 576px) {
    body {
        padding: 50px;
    }
    
    .card-group-item img {
        width: 223px;
    }
}

.is-invisible {
  opacity: 0;
}

.subscription-details {
  transition: opacity 1s;
}

@media (min-width: 250px) {
    .card-group-item img {
        width: 223px;
    }
}